 a:link {
     color:lightgoldenrodyellow;
}
 a:visited {
     color:greenyellow;
}

body{
	width:auto;
	height:auto;
	background-color: darkgrey;
}

.blog{
	width: 850px;
	height: 800px;
	position: relative;
	float: left;
}

.containingbox{
	width: 300px;
	height: 300px;
	background-color: #888787;
	border: 0px solid #000;
	position: relative;
    left: 855px;
}
#blogUrls2 {
    position: absolute;
    left: 865px;
    top: 140px;
}

#page{
	width: 1100px;
	height: 1000px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #888686;
}

section#space{
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #B5B4B4;
}

header#topHeader{
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #CBC5C5;
}

#h21{
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #A9A6A6;
}
#foh{
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #ABAAAA;
}

#mg{
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #A1A1A1;
}

#hap{
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #979696;
}
#rep{
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background-color: #8C8B8B;
}

#center{
	position:absolute; 
   top:28%;      
   left:0; 
   width:100%; 
   text-align:center;
   color:lightgoldenrodyellow;
	font-size: 400%;
}
#center2{
	position:absolute; 
   top:34%;      
   left:0; 
   width:100%; 
   text-align:center;
   color:greenyellow;
	font-size: 400%;
}

#centerZR{
	position:absolute; 
   top:40%;      
   left:0; 
   width:100%; 
   text-align:center;
   color:yellow;
	font-size: 400%;
}

#chooseLogin {
	padding: 0 50px;
	background-color: #A1A9A9;
}

#startLogin {
	background-color: #777777;
	color: greenyellow;
	width: 200px;
}

#requestLogin {
	padding: 0 50px;
	background-color: #A3A3A3;
}

#startLoginRequest {
	background-color: #666666;
	color: lightgoldenrodyellow;
	width: 200px;
}

#uEmail {
	background-color: #666666;
	color: lightgoldenrodyellow;
}

#loginPassword {
	background-color: #777777;
	color: greenyellow;
}

#uMails {
	background-color: #666666;
}

#loginPasswords {
	background-color: #777777;
}
#answerQuestionOne{
	margin-right: 40%;
	width:65%;
	background-color: #AAAAAA;
}

#questionHeader, #questionHeader2, #math{
	width:65%;
	background-color: #999999;
}
#knum, #q1, #qa1{
	color: yellow;
}
#q2, #qa2{
	color: lightgreen;
}

#question0, #firstName, #eMail, #password2{
	width:65%;
	background-color: #777777;
}
#question1, #lastName, #password1{
	width:65%;
	background-color: #666667;
}
#question2{
	width:65%;
	background-color: #AA9995;
}
#question3{
	width:65%;
	background-color: #999997;
}

#uQ1 {
	margin-left: 29px;
	width:20%;
	background-color: #DDDDDD;
}

#uQ2 {
	margin-left: 10px;
	width:20%;
	background-color: #CCCCCC;
}
#fn1 {
	margin-left: 14px;
}
#ln1 {
	margin-left: 15px;
}
#em1, #pw1, #pw2 {
	margin-left: 128px;
}

nav:#topNav {
	background-color: #B8B3B3;
}

.button{
	margin-left: 107px;
	background-color:orange;
}

#blogMenu{
	"background-color:#EEEEEE;
	height:80%;
	width:20%;
	float:left;
	color:yellow;
}

#spacer{
	width:25%;
}

#blogContent{
	"background-color:#EEEEEE;
	height:80%;width:80%;float:left;"
}

.holder {
    margin:15px 0;
}
.holder a {
    font-size:12px;
    cursor:pointer;
    margin:0 5px;
    color:#333;
}
.holder a:hover {
    background-color:#222;
    color:#fff;
}
.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin:0 5px;
}
#pageButton {
    width:30px;
    text-align: center;
}
